<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap"
      rel="stylesheet"
    />
     <link rel="stylesheet" href="./css/login.css" />
    <title>Login or sign up!</title>
  </head>

  <body>
    <header>
      <div class="header-container">
        <div class="header-inner section-inner"><img
            src="./assets/pawsitive connections Logo.png"
            width="200px"
            height="200px"
            alt="cat and dog talking"
          /></div>

        <ul class="links">
          <a  href="/">Home</a>
          <a href="/aboutus">About Us</a>
          {{!-- {{#if loggedIn}}
          <a href="/dashboard">Dashboard</a>
          <a href="#">Whiskerplace</a>
           <a class="LogoutBtn" href="#" id="LogoutBtn">Logout</a>
          {{else}}
            <a class="LoginBtn" href="/login" id="loginBtn">Login</a>
          {{/if}} --}}
        </ul>
      </div>
    </header>
   {{{ body }}}
    
    {{#if loggedIn}}
      <script src="/js/main.js">
      </script>
    {{/if}}
  </body>
</html>
