<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Landing Page</title>
  
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap" rel="stylesheet">
<link rel="stylesheet" href="public/css/main.css">   
</head>
<body>
  <div class="landing-page">
    <header>
      <div class="container">
        <div class="header-inner section-inner"><img src="./public/assets/pawsitive connections Logo.png" width="200px" height ="200px" alt="cat and dog talking"></div>
        
        <ul class="links">
          <li>Home</li>
          <li>About Us</li>
          <li>Whiskerplace</li>
          {{#if logged_in}}
          <button class="signUpBtn" id="SignUpBtn">Sign-Up</button>
          {{else}}
        </ul>
      </div>
    </header>
    <div class="content">
      <div class="container">
        <div class="info">
          <h2>Welcome to Pawsitive Connections</h2>
          <p>A community where furry friends come together to wag, purr, and pounce their way into your heart.</p>
          
          {{#if logged_in}}
          <button class= "loginBtn" id="login">Login</button>
          {{else}}
        </div>
        <div class="logo">
          <img src="./public/assets/dynamic duo.jpg" width="100%" height ="100%" alt="cat and dog talking">
        </div>
      </div>
    </div>
  </div>
    
    {{{ body }}}

{{#if logged_in}}
<script src="/js/main.js">
</script>
{{/if}}
</body>
</html>