{{!-- <h1>HOMEPAGE</h1>
<!--each community post the "post deatils" will render the communiy data -->

{{#each post as |community_post|}}
{{> community-details}}
{{/each}} --}}

<main>
    <div class="content">
      <div class="container">
        <div class="info">
          <h2>Welcome to Pawsitive Connections</h2>
          <p>A community where furry friends come together to wag, purr, and pounce their way into your heart.</p>
        
        </div>
        <div class="logo">
          <img src="./assets/dynamic duo.jpg" width="100%" height ="100%" alt="cat and dog talking">
        </div>
    </main>