@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");
* {
  box-sizing: border-box;
}

body {
  font-family: "Love Ya Like A Sister", cursive;
  padding: 20px;
  background: #b8e7e1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-pic {
  height: 50%;
  width: 50%;
  border-radius: 50%;
  padding-block: 1em;
}
li {
  list-style-type: none;
  padding-top: 5px;
  padding-bottom: 5px;
}
ul {
  padding-inline: 0;
}
ul li::before {
  content: "🐾          ";
}
.pet-friends {
  height: 15%;
  width: 15%;
  border-radius: 60%;
}

.left-column {
  float: left;
  width: 25%;
  text-align: center;
}

.right-column {
  float: left;
  width: 73%;
  padding-left: 15px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  width: 100%;
}
input {
  height: 35px;
  text-align: center;
}
/* input:focus {
  width: 500px;
  height: 50px;
} */
.btn {
  border-radius: 4px;
  height: 35px;
  font-size: 13px;
  font-weight: 600;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  background-color: rgb(197, 192, 192);
  color: #15133c;
  box-shadow: 0 8px 24px 0 rgba(18, 248, 173, 0.2);
}
.btn:active,
.btn:focus {
  background-color: #ec994b;
  color: #15133c;
  box-shadow: 0 8px 24px 0 rgba(255, 255, 255, 0.2);
}
.btn:hover {
  background-color: #73777b;
  color: #ec994b;
  box-shadow: 0 8px 24px 0 rgba(255, 255, 255, 0.2);
}

.post-inputs {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: stretch;
}

.post-inputs > * {
  font-family: inherit;
  text-align: center;
}

.post-card {
  border: 3px solid rgb(48, 132, 170);
  border-radius: 15px;
  box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.2);
  max-inline-size: 70ch;
}

.post-card:hover {
  cursor: pointer;
}

.post-title {
  font-size: 140%;
}

p {
  max-inline-size: 60ch;
}

main {
  max-inline-size: 1200px;
}

.posts-container,
.make-post {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posts-container > * {
  width: 100%;
}

.make-post > * {
  width: 90%;
  text-align: center;
}

.comment-card {
  border: 2px solid rgb(69, 144, 34);
  padding-inline: 1em;
  margin-block-end: 1em;
  border-radius: 15px;
  padding-block-start: 1em;
}

.text-center {
  text-align: center;
}

.post-info,
.comment-info {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1em;
  margin-block-end: 0.5em;
}

#comment-message,
#bidAmount {
  width: 80%;
  margin-bottom: .5em;
}

.header-container,
.header-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.links {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-block: 0;
  margin-inline: 0;
  padding-inline: 0;
  flex-wrap: wrap;
}

.links > * {
  font-size: 1.25rem;
}

.comment-container > *,
.comment-section {
  width: 100%;
}

.comment-container,
.view-post-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-inline-size: 80ch; */
}

.profile_img {
  width: clamp(50px, 15vw, 150px);
  height: clamp(50px, 15vw, 150px);
}

.post-comment {
  display: flex;
} 

.postBtnsContainer {
  display: flex;
  justify-content: space-evenly;
  margin-block-start: 1em;
}

.filler-text {
  margin-right: 0;
  padding-inline: 0;
}

.editPost-form,
.newLot-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  max-inline-size: 80ch;
}

.editPost-form > *,
.newLot-form > * {
width: 100%;
font-family: "Love Ya Like A Sister", cursive;
}


.editPost-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-inline-size: 80ch;
}

@media screen and (max-width: 800px) {
  .left-column,
  .right-column {
    width: 100%;
    padding: 0;
  }
}
